@charset "UTF-8";

* {
  text-align: center;
  color: Maroon;
   font-family: Arial, Helvetica, sans-serif;  
  
   
}

h1{
	margin:0;
	padding:0;
	font-size: 70px;
}

h4{
	margin:0;
	padding:0;
}


body{
	background-image: url(img1.jpg); 
	background-size:cover;
	margin: 0; 
	padding: 0; 
}


a {
	text-decoration: none; 
	border-style: solid;
	border-width: 2px;
	 border-color: green;
	 border-radius: 5px; 
	 padding: 5px; 
	 margin-top: 10px; 
	  margin-bottom: 10px; 
}


a:hover {
	color: white; 
	background-color: green; 
	border-style: none; 
}

#disclaimer{
	width: 50%;
	
	border-style: none;
	 border-radius: 5px;
	 
	background-color: rgba(255, 255, 255, 0.5);
	  padding: 25px; 
	 
}

.flexContainer {
	margin-top: 10px; 
	display: flex; 
	flex-direction: column; 
	  align-items: center; 
	height: 80vh; 
	
}

.flexItem{
	
}

input{
	width:100%; 
	background-color: Gainsboro; 
		border-style: dotted; 
		border-color: #CD5C5C; 
		display: inline-block;
  float: left;
}

label {
	width: 100%;
	
}

.formSubmit{
	background-color: Maroon; 
	color: Gainsboro;
	border:none; 
}

.formSubmit:hover{
	background-color: #CD5C5C; 
}

.flexContainer{
	display: flex; 
flex-direction: column; 
	height: 100vh; 
  align-items: center;
 margin: 0; 
  padding: 0; 
}

.flexItem {
	margin-top: 15px; 
	width: 30vw; 
	
}

p {
	height: 10px; 
}

