@charset "UTF-8";

* {
  text-align: center;
  color: Maroon;
   font-family: Arial, Helvetica, sans-serif; 
  
}


body{
	
	 background-image: url(img1.jpg);
  background-size: cover; 
  margin: 0; 
  height: 100vh;
	
}

input{
	width:100%; 
	background-color: Gainsboro; 
		border-style: dotted; 
		border-color: #CD5C5C; 
		display: inline-block;
  float: left;
}

label {
	width: 100%;
	
}

.formSubmit{
	background-color: Maroon; 
	color: Gainsboro;
	border:none; 
}

.formSubmit:hover{
	background-color: #CD5C5C; 
}

.flexContainer{
	display: flex; 
flex-direction: column; 
	height: 100vh; 
  align-items: center;
 margin: 0; 
  padding: 0; 
}

.flexItem {
	margin-top: 15px; 
	width: 30vw; 
	
}

p {
	height: 10px; 
}



.navBar {
	height: 20vh; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    margin: 0; 
   
	
}

.navItem{
	
	border-style: none; 
	color: black; 
	margin-left: 20px; 
	margin-right: 40px;
	
}

.navItem:hover{
	
	border-style: none; 
	color: green; 
	background-color:white; 
	
}
