@charset "UTF-8";

* {
  text-align: center;
  color: green;
   font-family: Arial, Helvetica, sans-serif;
  
   background-color: lightgreen; 
}



input{
	width:100%; 
	background-color: Gainsboro; 
		border-style: dotted; 
		border-color: hotpink; 
		display: inline-block;
  float: left;
}

label {
	width: 100%;
	
}

.formSubmit{
	background-color: Green; 
	color: HoneyDew;
	border:none; 
}

.formSubmit:hover{
	background-color: hotpink; 
}

.flexContainer{
	display: flex; 
flex-direction: column; 
	height: 100vh; 
  align-items: center;
}

.flexItem {
	margin-top: 15px; 
	width: 30vw; 
	
}

p {
	height: 10px; 
}


