@charset "UTF-8";

* {
  text-align: center;
  color: green;
   font-family: Arial, Helvetica, sans-serif;
   margin: 0; 
   padding: 0; 
   background-color: lightgreen; 
}





.formSubmit{
	background-color: Green; 
	color: HoneyDew;
	border:none; 
	padding: 5px; 
}

.formSubmit:hover{
	background-color: hotpink; 
}